body {

  align-content: center;

}

.cameraButton {

  display: inline-block;
  padding: 12px 24px;
  background-color: grey;
  color: black;
  font-size: 32px;
  border-radius: 6px;
  cursor: crosshair;
  transition: background 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}
