body {

  align-content: center;
  background-color: #110F0F;

}

.cameraButton {
  padding: 12px 24px;
  background-color: grey;
  color: black;
  font-size: 32px;
  border-radius: 6px;
  margin: auto;
}