body{

  align-content: center;
  background-color: white;
  text-align: center;
  padding-bottom: 500px;
  animation-name: body;
  animation-duration: 2s;
  font-family: Arial, Helvetica, sans-serif;

}

.links {

  background-color: blue;
  width: 100px;
  margin: auto;

}
.title {

  font-size: 100;
  color: #252222;
  background-color: gray;
  border-radius: 25px;
  animation-name: title;
  animation-duration: 1s;

}

@keyframes title {

  from {

    font-size: 1;
    color: white;
    background-color: white;

  }
  to {

    font-size: 100;
    color: #252222;
    background-color: grey;

  }

}

@keyframes body {
  from {

    padding-top: 200;

  }
  to {

    padding-top: 0;

  }
}
